<li>
  <%= link_to h(service.display_name), service %>
  <% if !current_user.subscribed?(service) %>
  | <%= render :partial => 'subscribe_form', :locals => {:service => service} %>
  <% else %>
  | <%= render :partial => 'un_subscribe_form', :locals => {:service => service} %>
  <% end %>

</li>