<% form_tag service_subscriptions_path do %>
  <%= hidden_field_tag :service_id, service.id %>
  <span class="actions"><%= link_to_function "Subscribe", "$(this).up('form').submit()" %></span>
<% end %>
