/*Debug formatting */
.debug_dump {
	clear:both;
}
/*rounded corners */
.round {
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
}

/*inline-block */
.inline-block {
	display:-moz-inline-stack;
	display:inline-block;
	zoom:1;
	*display:inline;	
}

/* remove the spaces underneath images */
img{
	vertical-align: bottom;
}


body {
   font-family: “Trebuchet MS”, Helvetica, sans-serif;
   color: #444;
}

/* hint text */
.hint {
	font-size: 12px;
	color: #666;
	font-style: italic;
}

/*Header formatting */
#header {
  margin-bottom: 10px;
}

/*content formatting */
#content {
  border: 1px solid #AAA;
  background-color: #EEE;
  -webkit-border-radius: 5px;
  -moz-border-radius 5px;
  border-radius 5px;
}

/*Footer formatting */
#footer {
	text-align: center;
	margin-top: 10px;
	margin-left: auto;
	margin-right: auto;
}

/* get satisfaction tab */
#fdbk_tab {
	top: 40% !important;
}

/******************************************/
/*Navigation link formatting */
/******************************************/

.navigation li {
	list-style-type:none;
	display:-moz-inline-stack;
	display:inline-block;
	zoom:1;
	*display:inline;
}



/******************************************/
/* Page Header Navigation Links */
/******************************************/
/*formatting for each link in the nav bar */
#header .link-bar {
	float:right;
	padding-right: 10px;
	padding-left: 10px;
	border:1px solid #AAA;
	border-top:none;
	-moz-border-radius-bottomright: 5px;
	-moz-border-radius-bottomleft: 5px;
	border-bottom-right-radius: 5px;
	border-bottom-left-radius: 5px;
	-webkit-border-bottom-right-radius: 5px;
	-webkit-border-bottom-left-radius: 5px;
}

#header .link-bar a {
  margin-left: 3px;
  margin-right: 3px;
	list-style-type:none;
	display:-moz-inline-stack;
	display:inline-block;
	zoom:1;
	*display:inline;
	padding: 2px 6px 2px 6px;
	text-decoration: none;
	color: #222;
}

#header .link-bar a:hover,
#header .link-bar.home a.home,
#header .link-bar.address a.address,
#header .link-bar.send-message a.send-message,
#header .link-bar.subscriptions a.subscriptions,
#header .link-bar.settings a.settings{
  background-color: #AAA;
  color: white;
}

#header form {
	display:inline;
}

#header-right {
	padding-left: 20px;
}

#header-right input[type='text'], #header-right input[type='password']{
	width: 150px;
}

/******************************************/
/* Page Footer Navigation Links */
/******************************************/
/*formatting for each link in the nav bar */
#footer .navigation {
  margin-left: auto;
  margin-right: auto;
  width: 400px;
  padding: 0;
  border:1px solid #AAA;
}

#footer .navigation li{
  margin-left: 10px;
  margin-right: 10px;
}

#footer .navigation li a{
  text-decoration:none;
  color:#444;
}

#footer .navigation li a:hover{
  text-decoration:underline;
}

/*******************************************/
/*formatting for the default wrapper */
/********************************************/

#default-content-wrapper {
    padding: 30px;

}

#default-content-wrapper > h1{
    text-align: center;
	color:#444;
	border-bottom: 1px solid #444;
	padding-bottom: 5px;hahah
}

#default-content-wrapper > h2{
    text-align: center;
	color:#444;

}

/*A wrapper that wraps the property form, but not the title or back button */
#default-sub-content-wrapper {
	background-color: white;
	border: 1px solid #333;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	width:50%;
	border-radius: 5px;
	padding: 15px 15px 15px 30px;
	margin: auto auto 10px auto;
}

#default-content-wrapper .h1 {
  margin-left: auto ;
  margin-right: auto ;
}

/******************************************/
/* Tab navigation bar for static content */
/******************************************/

.page-link-bar {
  margin-left: 10px;
  margin-bottom: 10px;
}

/*formatting for each tab in the nav bar */
.page-link-bar a {
	list-style-type:none;
	display:-moz-inline-stack;
	display:inline-block;
	zoom:1;
	*display:inline;
	background-color:white;
	padding: 6px;
	text-decoration: none;
	margin-right: 20px;
	border: 2px solid #555;
	color: black;
	font-weight: bold;
}

/* configure the hover appearance of each tab */
.page-link-bar a:hover, .page-link-bar a:active {
	background-color:#555;
	text-decoration: underline;
	color:white;
}

	/*Define the formatting for the link to the current page */
	.page-link-bar.home a.home,
	.page-link-bar.services a.services,
	.page-link-bar.about a.about,
	.page-link-bar.contact a.contact,
	.page-link-bar.faq a.faq, {
		background-color: #555;
		color:white;
	}
	
	
/******************************************/
/*general pages layout properties */
/******************************************/

/*a element specific to the pages controller to apply formatting to the #content area */
#page-wrapper {
}

/*the area around the page content and the nav bar */
#page-content-area {
	padding: 10px;
}

/* the box which adds continuity to the nav tabs and the border of the content*/
#page-content-wrapper {
}

/* the box containing the yielded content */
#page-content {
	background-color: white;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	padding: 20px;
	border: 2px solid #DDD;
}

/* the box containing the yielded content */
#page-content h1{
	text-align:center;
}

/* a standard dividing line */
.divider{
	width:95%;
	height: 1px;
	background-color: #AAA;
	margin: 20px auto 20px auto;
}

/* the area around the right sidebar */
#page-sidebar-area {
	margin: 0px 10px 10px 10px;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	border: 2px solid #DDD;	
}

/* the area around the right sidebar */
#page-sidebar-social-links {
	text-align:center;
	padding-top:15px;
	padding-bottom:15px;
}

/* each of the social buttons */
#page-sidebar-social-links a{
	margin-left: 2px;
	margin-right: 2px;
}

/* the title area of the right sidebar */
#page-sidebar-content .title {
	text-align:center;
	border-bottom: 2px solid #DDD;
	font-size: 18px
}

/* the content area of the right sidebar*/
#page-sidebar-content .body {
	height: 353px;
	text-align:center;
	padding-top: 10px;
	background-color:#C8C8C8;
	
}

/******************************************/
/*home page layout properties */
/******************************************/

.home #page-content{
	padding: 0px;

}

/******************************************/
/*faq page layout properties */
/******************************************/

.faq .question {
	font-weight:bold;
}

.faq .answer {
	margin-bottom:10px;
}

/******************************************/
/*service page layout properties */
/******************************************/

.service .logo {
	display:-moz-inline-stack;
	display:inline-block;
	zoom:1;
	*display:inline;
	width:100px;
}

.service .text {
	display:-moz-inline-stack;
	display:inline-block;
	zoom:1;
	*display:inline;
	width:460px;
}

.service .title {
	font-size: 20px;
}


/******************************************/
/* subscriptions index css */
/******************************************/
.subscription-empty-text {
  font-size: 16px;
  text-align: center;
}

.subscription-index {
  background-color: white;
  border: 1px solid #333;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  list-style-type:none;
  padding: 15px 15px 15px 30px;
}

.subscription-index .fee-hint{
  text-align:center;
}

.subscription-index li {
	list-style-type:none;
	margin-bottom: 10px;
}

.subscription-index li span{
	display:-moz-inline-stack;
	display:inline-block;
	zoom:1;
	*display:inline;
	width: 60px;
	vertical-align:middle;
}

.subscription-index li span.icon{
	width: 40px;
	font-weight:bold;
}

.subscription-index li span.name{
	width: 200px;
	font-weight:bold;
	margin-right: 20px;
}

.subscription-index li span.enabled-state{
	width: 60px;
}

.subscription-index li span.enabled-state.Enabled{
	color: #3A3;
	width: 60px;
}

.subscription-index li span.enabled-state.Disabled{
	color: #A33;
	width: 60px;
}

.subscription-index li span.actions{
	width: 220px;
}

.subscription-index li span.next-alert{
	width: 250px;
}


/******************************************/
/* user form css */
/******************************************/

.user-form label {
	display:-moz-inline-stack;
	display:inline-block;
	zoom:1;
	*display:inline;
	width: 100px;
}

#service_subscription_address {
	width: 100px;
}

#user-password-change-wrapper {
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	border: 1px solid #333;
	padding-top: 10px;
	padding-left: 10px;
	margin-left: -10px;
	width: 360px;
	margin-bottom: 20px;
	background-color: #EEF;
}

#user-password-change-wrapper .change-password-title {
	font-size: 16px;
	font-weight: bold;
	margin-bottom: 10px;
}

#user-password-change-wrapper label {
	width: 100px;
}



/******************************************/
/* subscriptions edit css */
/******************************************/


/* a group of related settings in the edit form */
.setting-set {
	margin-bottom: 10px;
	padding: 5px 5px 5px 15px;
}

/* a group of related settings in the edit form */
.setting-set-hint {
	font-size: 11px;
	color: #666;
	font-style: italic;
}

/* the title for a group of related settings */
.setting-set-title {
	font-weight: bold;
	font-size: 14px;
}

/* formatting for the garbage zone read only element */
#service_subscription_formatted_zone_readonly {
	font-weight: bold;
	font-size: 14px;
}

/* The element ajax will use to insert error */
#service_subscription_formatted_zone_error {
	font-weight: bold;
	color: red;
}

.address-box .form {
	display:-moz-inline-stack;
	display:inline-block;
	zoom:1;
	*display:inline;
	vertical-align: top;
	width: 300px;
}

.address-box .ajax {
	display:-moz-inline-stack;
	display:inline-block;
	zoom:1;
	*display:inline;
	vertical-align: top;
	margin-top: 5px;
}

/******************************************/
/* field status subscriptoin new/edit css */
/******************************************/

#field-selection-set label {
	width:180px;
	display:-moz-inline-stack;
	display:inline-block;
	zoom:1;
	*display:inline;
	vertical-align: top;
}


/******************************************/
/* services index css */
/******************************************/

.services-index {

  list-style-type:none;

}

.services-index li{
  background-color: white;
  border: 1px solid #333;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  list-style-type:none;
  padding: 15px 15px 15px 30px;
  margin-bottom:20px;
}

.services-index .actions {
	vertical-align: middle;
	display:-moz-inline-stack;
	display:inline-block;
	zoom:1;
	*display:inline;
	margin-right: 10px;
	font-size: 16px;
	width: 80px;
	margin-right: 20px;
}

.services-index .icon {
	vertical-align: middle;
	display:-moz-inline-stack;
	display:inline-block;
	zoom:1;
	*display:inline;
	margin-right: 10px;
}

.services-index .service-body {
	vertical-align: middle;
	display:-moz-inline-stack;
	display:inline-block;
	zoom:1;
	*display:inline;
	width: 620px;
}

.services-index .title {
	font-size: 20px;
}

.services-index .description {
	font-size: 14px;
}

.services-index li a{
	color: black;
	text-decoration:none;
}

.services-index li a:hover{
	color: black;
	text-decoration: underline;
}

.services-index form {
	display:inline;
}

/******************************************/
/* formatting for form errors, borrowed from railstutorial.org*/
/******************************************/

.fieldWithErrors {
}

.fieldWithErrors input, .fieldWithErrors select{
  background-color: #EEAAAA;
}


#errorExplanation {
  width: 400px;
  border: 2px solid red;
  padding: 7px;
  padding-bottom: 12px;
  margin-bottom: 20px;
  background-color: #f0f0f0;
}

#errorExplanation h2 {
  text-align: left;
  font-weight: bold;
  padding: 5px 5px 5px 15px;
  font-size: 12px;
  margin: -7px;
  background-color: #c00;
  color: #fff;
}

#errorExplanation p {
  color: #333;
  margin-bottom: 0;
  padding: 5px;
}

#errorExplanation ul li {
  font-size: 12px;
  list-style: square;
}

.notice_a {
  width:250px; 
  color:white;
  position:relative;
  float:left;
}

.notice_b {
  width:20;
  color:white;
  float:left;
  position:relative; right:80px; top:1px;
}

.notice_c {
  width:20;
  color:white;
  float:left;
  position:relative; right:76px; top:1px;
}

.forgot_p {
  display:-moz-inline-stack;
  display:inline-block;
  zoom:1;
  *display:inline;
}


.not_signed_in {
  position:relative; left:7px; top:15px;
}


.notice_vald_page_c {
  position:relative; left:68px; bottom:26px;
}

.image_iphone
{ 
  position:relative; bottom:0px;
  width:450px; 
  height:400px; 
  background-image:url(/images/verify_400high.png); 
  background-repeat:no-repeat; 
} 

.validation_page
{
 position:relative; bottom:325px; left:190px;
 padding-left:100px;
 height:0px;
}



/*input[type="text"]#login {
  width: 221px !important;
  background: transparent url('../images/bg.jpg') no-repeat !important;
  color : #747862 !important;
  height:20px !important;
  border:0 !important;
  padding:4px 8px !important;
  margin-bottom:0px !important;
}*/
