<div class="setting-set-title">Step 2: Configure Alert Timing</div>
<div class="setting-set-hint">Configure when alerts will be sent.</div>
<div class="setting-set">
	Send the alert on the day before the pickup: 
	<%= f.check_box :day_before %><br/>
	Alert Time: <%= f.time_select :delivery_time, :minute_step => 30, :twelve_hour => true, :default => Time.parse("9:00 p.m.").to_datetime%>

</div>
