<div id="field-selection-set">
	<div class="setting-set-title">Winter Parking Ban</div>
	<div class="setting-set-hint">Updates will be sent when a seasonal parking ban is issued or retracted.</div>
	<div class="setting-set">
		<p><%= label_tag 'Winter Parking Ban', 'Winter Parking Ban' %>
		<%= f.check_box :winter_parking_ban %></p>
	</div>

</div>
