<div id="zone-set">
	<%= render :partial => "edit_garbage_subscription_zone_set", :locals => {:f => f, :service_subscription => service_subscription} %>
</div>
<div id="timing-set">
	<%= render :partial => "edit_garbage_subscription_timing_set", :locals => {:f => f, :service_subscription => service_subscription} %>
</div>
