<li>
	<span class="name"><%= h service_subscription.service.name %></span>
	<span class="enabled"><%= service_subscription.enabled %></span>
	<span class="actions"><%= link_to "Edit Settings", edit_service_subscription_path(service_subscription) %> | <%= link_to "Unsubscribe", service_subscription_path(service_subscription), :method => :delete %></span>
	
</li>