<li>
	<span class="Name"><%= h service_subscription.service.name %></span>
	<span class="Enabled"><%= service_subscription.enabled %></span>
	<span class="Actions"><%= link_to "Edit", edit_service_subscription_path(service_subscription) %></span>
</li>