<h1>Your Alertzy Subscriptions!</h1>

<ul class="subscription-index">
	<li class="title">
		<span class="Name">Name</span>
		<span class="Enabled">Enabled</span>
	</li>
<%= render @service_subscriptions %>
</ul>

<%= link_to 'Subscribe to more services', services_path %>