<h1>Current Subscriptions</h1>

<div id="current-subscriptions-wrapper">

<ul class="subscription-index">
<% if @service_subscriptions.empty? %>
	<div class="subscription-empty-text">You aren't subscribed to any services yet.  <br/><br/>Click on the button below to find and subscribe to Alertzy services and start receiving alerts!</div>
<% else %>
	<div class="hint fee-hint">All standard fees for sending and receiving text messages from your cell phone provider will apply to Alertzy alerts.</div>
	<div class="divider"></div>
	<%= render @service_subscriptions %>
<% end %>
</ul>

<%= link_to 'Subscribe to more services', services_path, :class => "sexybutton sexysimple" %>

</div>
