<h1>Listing service_subscriptions</h1>

<table>
  <tr>
  </tr>

<% @service_subscriptions.each do |service_subscription| %>
  <tr>
    <td><%= link_to 'Show', service_subscription %></td>
    <td><%= link_to 'Edit', edit_service_subscription_path(service_subscription) %></td>
    <td><%= link_to 'Destroy', service_subscription, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New service_subscription', new_service_subscription_path %>