<h1> Configure Your Subscription Settings</h1>

<%= render :partial => 'service_subscription_form', :locals => {:service_subscription => @service_subscription, :user => current_user} %>

<div class="back-to-services">
  <%= link_to 'Back to Services', services_path, :class => "sexybutton sexysimple" %>
</div>
