<h1>New service_subscription</h1>

<% form_for(@service_subscription) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.submit 'Create' %>
  </p>
<% end %>

<%= link_to 'Back', service_subscriptions_path %>