<h1>Forgotten Login or Password</h1>

Enter the e-mail used for your account, and we will send you your Login, and a link to reset your password.

<% form_tag remind_users_path do -%>

<%= text_field_tag 'email', nil, default_text("Enter your e-mail")%>

<p><%= submit_tag 'Submit' %></p>
<% end -%>
