<!-- *********** -->
<!-- 3D Carousel -->
<!-- *********** -->
<div class="slider_bg">
	<div class="slider_wrapper">
        <div id="carousel">
        	<div class="carousel-feature">
        		<a href="#"><img class="carousel-image" alt="Image Caption" src="images/green_grey/3d_carousel/001.jpg"></a>
        	</div>
        	<div class="carousel-feature">
        		<a href="#"><img class="carousel-image" alt="Image Caption" src="images/green_grey/3d_carousel/002.jpg"></a>
        	</div>
        	<div class="carousel-feature">
        		<a href="#"><img class="carousel-image" alt="Image Caption" src="images/green_grey/3d_carousel/003.jpg"></a>
        	</div>
        </div><!-- End of carousel -->
        
        <!-- Header Main Text -->
        <div class="header_text_container">
          <img alt="Alertzy" src="images/green_grey/large_logo_header.png" width=378 height=120>
            <h3>Alerts and Reminders right to your cellphone.  We'll send you text message alerts so that you find out about things when they matter to you. For FREE. </h3>
            <p>Alertzy is a free service that sends you alerts and reminders about the things that matter to you each day.  Whether it's to remind you to take your trash out, or to tell you that your kids soccer game was rained out, we have your back.
            </p>
          <%= link_to "Not signed up? Register now for free!", new_user_path, :class => "sexybutton sexysimple sexygreen sexyxxxl" -%>
        </div>
        <!-- End of Header Main Text -->
    </div><!-- End of slider_wrapper -->
</div><!-- End of slider_bg -->
<!-- ****************** -->
<!-- End of 3D Carousel -->
<!-- ****************** -->
