<h1>About</h1>
<h2>The Concept</h2>
<p>The concept behind Alertzy is to provide people with updates around their daily lives with "set and forget it" ease of use.  The concept originated as an idea for the City of Edmonton's Apps4Edmonton application contest, but has universal possibilities.</p>

<h2>The Team</h2>
<p>The Alertzy Team currently consists of 3 local Edmonton residents.<br/>
Developers:  Ben Zittlau, and Ryan Jones<br/>
Graphic Design: Greg Bain</p>