<h1>About</h1>
<h2>What is it?</h2>
<p>Alertzy provides services which send scheduled SMS (text message) alerts.  For example, our first service allows City of Edmonton residents to subscribe to alerts to remind them when their garbage pickups will occur.  In one simple step they can subscribe to the service, and then never have to worry about remembering to take out the trash again!</p>

<h2>The Concept</h2>
<p>The concept behind Alertzy is to provide people with updates around their daily lives with "set and forget it" ease of use.  The concept originated as an idea for the City of Edmonton's Apps4Edmonton application contest, but has universal applications.</p>

<h2>The Team</h2>
<p>The Alertzy Team currently consists of 3 local Edmonton residents:<br/>
Developers:  <%= link_to "Ben Zittlau", "http://benzittlau.com" %>, and <%= link_to "Ryan Jones", "http://www.ryanonrails.com" %><br/>
Graphic Designer: Greg Bain</p>
