<h1>FAQ</h1>
<div class="question">Q: How does this work?</div>
<div class="answer">A: Once you create an account you can sign up for our available services.  A given service will send you relevant SMS (text message) alerts.  If you ever want to change your subscriptions or disable your updates you can log in and change your settings through our web interface.</div>
<div class="question">Q: Will I be charged for this service?</div>
<div class="answer">A: We don't charge for our service, however, any regular charges from your cell phone provider for sending or receiving text messages will apply.</div>
<div class="question">Q: How is this service free?</div>
<div class="answer">A: The messages from our service are currently sponsored by <%= link_to "Direct Text Marketing", "http://www.directtextmarketing.com" , {:target => "_blank" } %> which allows us to provide this service to our users for free.  Eventually we may incorporate advertisements into some of our alerts, however, we will never send you any unsolicited messages.</div>
<div class="question">Q: Will you sell my number or private information?</div>
<div class="answer">A: We will never sell or give away your private information without your permission. </div>
<div class="question">Q: When will other cities be available?</div>
<div class="answer">A: We are currently testing this service in Edmonton.  Based on our experience in Edmonton we will be evaluating expanding into other Canadian cities.</div>