<!-- ************ -->
<!-- MAIN CONTENT -->
<!-- ************ -->

    	<div id="teaser">
        	<h2>Let us remember for you, so you don't have to!</h2>
            <p>We'll let you know about the things you need to remember, when you need to remember them.</p>
        </div>
        <div class="question_and_answer">
          <h3>Do I need to have an iPhone or smartphone?</h3>
          <h2>No! Alertzy will work with any phone capable of receiving text messages!</h2>
        </div>
        <div class="question_and_answer">
          <h3>How much does it cost?</h3>
          <h2>It's free! Alertzy doesn't charge you anything for your updates!</h2>
        </div>
        <div class="question_and_answer">
          <h3>How do I know I can trust you with my phone number?</h3>
          <h2>Alertzy was the winner of the Way We Live category of the City of Edmonton's <a href="http://contest.apps4edmonton.ca/">Apps4Edmonton</a> contest!</h2>
        </div>
        <div class="question_and_answer">
          <h3>Is this only available in Edmonton?</h3>
          <h2>Some of our services are useful wherever you live, but currently we are focused on providing services for residents of Edmonton.</h2>
        </div>
        <div class="box">
        	<h2>Garbage Pickups</h2>
            <p>Never miss a garbage pickup in Edmonton again with our automated scheduled reminders.</p>
            <%= link_to "Learn more", services_list_path %>
        </div><!-- End of box 1 -->
        <div class="box">
        	<h2>Field Updates</h2>
            <p>We'll let you know as soon as the City of Edmonton changes the status of it's sports fields.</p>
            <%= link_to "Learn more", services_list_path %>
        </div><!-- End of box 2 -->
        <div class="box box_last">
        	<h2>New services!</h2>
            <p>We're always looking for new services to add.  Let us know what you would to see us add!</p>
            <a class="feedback_widget_opener" href="#">Learn more</a>
        </div><!-- End of box 3 -->

<!-- ******************* -->
<!-- END OF MAIN CONTENT -->
<!-- ******************* -->
