<h1>Services Available in Edmonton</h1>
<div class="service">
	<div class="logo">
		<%= image_tag 'gcan90.png', :alt => "Garbage Can" %>
	</div>
	<div class="text">
		<div class="title">
			Garbage Pickup Reminders
		</div>
		<div class="description">
			We'll send you helpful SMS (text message) reminders to take out your trash.  Make sure you never miss a garbage pickup again!  The timing of the alert, and the zone for pickup are customizable.  Don't know your garbage pickup zone?  We can look it up for you by your address!
		</div>
	</div>
</div>
<div class="divider"></div>
<div class="service">
	<div class="logo">
		<%= image_tag 'gcan90.png', :alt => "Garbage Can" %>
	</div>
	<div class="text">
		<div class="title">
			Sports Field Closure Updates - Coming Soon!
		</div>
		<div class="description">
			We'll monitor the City of Edmonton's status reports for the South, Northeast, and Northwest areas, and send you SMS (test message) updates when the status of a region changes.  Always know whether your, or your child's, sporting events have been canceled wherever you are!
		</div>
	</div>
</div>
