    <h1>Services Available</h1>
    <div class="service">
      <div class="logo">
        <%= image_tag 'gcan90.png', :alt => "Garbage Can" %>
      </div>
      <div class="text">
        <div class="title">
          Garbage Pickup Reminders
        </div>
        <div class="description">
          We'll send you helpful SMS (text message) reminders to take out your trash.  
          Make sure you never miss a garbage pickup again!  
          The timing of the alert, and the zone for pickup are customizable.  
          Don't know your garbage pickup zone?  
          We can look it up for you by your address!
          <br/>
          <br/>
          Currently Available in:
          <br/> 
          --Canada Flag Img-- - Edmonton, Alberta
        </div>
      </div>
    </div>
    <div class="divider"></div>
    <div class="service">
      <div class="logo">
        <%= image_tag 'fields90.png', :alt => "Garbage Can" %>
      </div>
      <div class="text">
        <div class="title">
          Sports Field Closure Updates
        </div>
        <div class="description">
          We'll monitor the City of Edmonton's status reports for the South, Northeast, and Northwest areas, and send you SMS (text message) updates when the status of a region changes. 
          Always know whether your, or your child's, sporting events have been canceled wherever you are!
           
          <br/>
          <br/>
          Currently Available in:
          <br/> 
          --Canada Flag Img-- - Edmonton, Alberta
        </div>
      </div>
    </div>

  <!-- <div class="divider"></div>
  <div class="service">
    <div class="logo">
      <%= image_tag 'city_election90.png', :alt => "Ballot Check" %>
    </div>
    <div class="text">
      <div class="title">
        City Election Live Updates
      </div>
      <div class="description">
        We'll send you updates during the vote counting for the City of Edmonton's civic election occurring Oct.18th, 2010.  Get an update every 30 minutes during counting with the live progress of the Mayoral race!
      </div>
    </div>
  </div> -->
