<!-- ****** -->
<!-- FOOTER -->
<!-- ****** -->
<div class="footer_bg">
	<div class="footer_wrapper">
    	<div class="footer_box">
        	<h4>Fresh Testimonials</h4>
            <p><em>"Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam sit amet arcu massa. Vivamus in magna nec massa lacinia commodo vel vitae lorem. Sed porta pellentesque pellentesque. Duis sit amet massa orci, 
            vitae vehicula massa. Maecenas consectetur faucibus aliquam."</em></p><p><span>John Doe</span> - CEO at Company name</p>
        </div><!-- End of footer_box 1 -->
        <div class="footer_box">
        	<h4>Stay in touch</h4>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam sit amet arcu massa. Vivamus in magna nec massa lacinia commodo vel vitae lorem. Sed porta pellentesque pellentesque.</p>
            <ul class="social">
            	<li><a href="#"><img src="images/green_grey/icons/ico_facebook.png" alt="facebook"></a></li>
                <li><a href="#"><img src="images/green_grey/icons/ico_twitter.png" alt="twitter"></a></li>
                <li><a href="#"><img src="images/green_grey/icons/ico_linkedin.png" alt="linkedIn"></a></li>
                <li><a href="#"><img src="images/green_grey/icons/ico_stumble.png" alt="stumble uppon"></a></li>
                <li><a href="#"><img src="images/green_grey/icons/ico_youtube.png" alt="youtube channel"></a></li>
                <li><a href="#"><img src="images/green_grey/icons/ico_rss.png" alt="rss feed"></a></li>
            </ul>
        </div><!-- End of footer_box 2 -->
        <div class="footer_box box_last">
        	<h4>Contact us</h4>
            <ul id="contact_us_list">
            	<li id="contact_phone">+01 000 555 323</li>
                <li id="contact_email"><a href="#">yourname@domain.com</a></li>
                <li id="contact_addess">Street address 25 Bruxelles 1000 - Belgium</li>
            </ul>
            <div id="contact_page"><a href="contact.html">Contact page</a></div>
        </div><!-- End of footer_box 3 -->
        <div class="clear"></div>
        <div class="footer_legal">
        	<p>&copy; 2011 Fresh Ideas - Business & Portfolio PSD template</p>
        </div><!-- End of footer_legan -->
    </div><!-- End of footer wrapper -->
</div><!-- End of footer_bg -->
<!-- ************* -->
<!-- END OF FOOTER -->
<!-- ************* -->
