<!-- ****** -->
<!-- FOOTER -->
<!-- ****** -->
<div class="footer_bg">
	<div class="footer_wrapper">
    	<div class="footer_box">
        	<h4>Fresh Testimonials</h4>
            <p><em>"Alertzy really shows how Open Data can work. Taking municipal information and making it more useful is incredibly valuable. Since I signed up during the City of Edmonton’s Apps4Edmonton competition I haven’t missed a garbage day.  The only thing better than the Alertzy app would be an app that takes out the trash for me."</em></p><p><span>Chris Moore</span> - CIO City of Edmonton</p>
        </div><!-- End of footer_box 1 -->
        <div class="footer_box">
        	<h4>Stay in touch</h4>
            <p>We'd love to hear from you!  Whether it's talking about services you would like to see, or how technology can make cities a better place to live, we love talking about what Alertzy does and could do!</p>
            <ul class="social">
            	<li><a href="http://www.facebook.com/pages/Alertzy/153604841323348"><img src="/images/green_grey/icons/ico_facebook.png" alt="facebook"></a></li>
                <li><a href="https://twitter.com/alertzy"><img src="/images/green_grey/icons/ico_twitter.png" alt="twitter"></a></li>
            </ul>
        </div><!-- End of footer_box 2 -->
        <div class="footer_box box_last">
        	<h4>Contact us</h4>
            <ul id="contact_us_list">
                <li id="contact_email"><a href="mailto:general@alertzy.com">general@alertzy.com</a></li>
            </ul>
            <div id="contact_page">
              <%= link_to "Contact page", contact_path %>
            </div>
        </div><!-- End of footer_box 3 -->
        <div class="clear"></div>
        <div class="footer_legal">
        	<p>&copy; 2011 Alertzy</p>
        </div><!-- End of footer_legan -->
    </div><!-- End of footer wrapper -->
</div><!-- End of footer_bg -->
<!-- ************* -->
<!-- END OF FOOTER -->
<!-- ************* -->
