<div id="verification" class="span-24 last">
  <% if current_user %>
    <% if current_user.verified? %>
    <% else %>
		<div class="veri_notice">
       You are not verified and can't receive updates! Please verify your phone number by entering the 6 digit code sent to your phone:
       <div class="notice_a">
       <% form_tag :verify  do %>
        <%= text_field_tag :verification_number%>
       </div>
       <div class="notice_b">
        <%= submit_tag "Verify!", :class => "sexybutton sexysimple sexygreen"%>
       </div>
       <% end %>
       <div class="notice_c">
       <% form_tag :resend_verification do %>
        <%= submit_tag "Re-send Verification Number!", :class => "sexybutton sexysimple sexyred"%>
       <% end %>
       </div>
		</div>
    <% end %>
  <% end %>
</div>