<div id="verification" class="span-24 last">
  <% if current_user %>
    <% if current_user.verified? %>
    <% else %>
		<div class="notice">
       You are not verified and can't receive updates! Please verify your phone number by entering the 6 digit code sent to your phone:
       <% form_tag :verify  do %>
        <%= text_field_tag :verification_number%>
        <%= submit_tag "Verify"%>
       <% end %>
       
       <% form_tag :resend_verification do %>
        <%= submit_tag "Re-send Verification"%>
       <% end %>
		</div>
    <% end %>
  <% end %>
</div>