<% content_for :content do %>

  <div class="main_content_wrapper">
    <div class="application_content_wrapper">
      <%= yield if yield(:default_content) == "" %>
    </div>
  </div>

<% end %>
<%= render :file => 'layouts/application' %>
