<% content_for :content do %>
  <div class="main_content_wrapper">
    <div id="pages_content">
      <%= yield if yield(:pages_content) == "" %>
    </div>
  </div>

<% end %>
<%= render :file => 'layouts/application' %>
